@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  margin: 0;
  flex-direction: column;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  background-image: url("../assets/hero.jpg");
  width: 100%;
  // height: 100vh;
}

#scroll-down {
  writing-mode: vertical-rl;
  color: white;
  bottom: 60px;
  left: 31px;
  position: absolute;
  // transform-origin: left top 0;
}

.arrow {
  bottom: 27px;
  position: absolute;
  left: 32px;
}

.vl {
  border-right: 0.5px solid rgba(255, 255, 255, 0.548);
  height: 100vh;
  width: 80px;
  position: absolute;
  // margin-left: -3px;
  top: 0;
}
.section-countdown {
  width: 100%;
  height: 100vh;
}

.section-listing {
  width: 100%;
  background-color: #010207;
}

.Logo img {
  position: relative;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.548);
}

// .navbar div {
//   margin-left: 50px;
// }

.Links {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.Links a {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 182px auto;
  grid-gap: 10px;
  background-color: #010207;
  padding: 10px;
}

.left-menu {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-end: 2;
  padding-left: 5px;
}

.success-fail {
  margin-top: 5px;
}

.success-fail input {
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 2px;
}
