.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.boxes {
  margin: 4px;
}

.dropbtn {
  width: 100%;
}

.dropbtn {
  // background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-bottom: 0.5px solid white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.dropdown-content {
  opacity: 0;
  height: 0;
  background-color: #010207;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

// .dropdown-content p {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
// }

.dropdown:hover .dropdown-content {
  display: flex;
  opacity: 1;
  height: auto;
  flex-wrap: wrap;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
