.countdown {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 200px;
}
.countdown-items {
  display: flex;
  flex-direction: row;
  font-size: 86px;

  margin-bottom: 20px;
}

.countdown-items span {
  font-size: 50px;
}

.countdown-item {
  text-align: center; /* default 0 */
  padding-right: 10px;
}

.title {
  font-size: 96px;
  margin-bottom: 150px;
}

.pattern {
  position: absolute;
  background-image: url("../assets/pattern.svg");
  width: 200px;
  height: 200px;
  top: 250px;
  opacity: 0.5;
}

.rocket-info {
  margin-left: 20px;
  font-size: 16px;
}
