.launch-item {
  display: flex;
  flex-direction: row;
}

/* .launch-item a {
  margin-left: 20px;
} */

.info {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
  width: 600px;
}

.images img {
  width: 200px;
  margin-bottom: 10px;
}
