.launchlist {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  flex-wrap: wrap;

  // justify-content: flex-end;

  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-gap: 10px;
  // background-color: #2196f3;
  // padding: 10px;
}

.filter-options {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 25px;
}

.launches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  //   flex-grow: 1;
  text-align: center; /* default 0 */
}

// * Dropdown

.dropbtn {
  background-color: #010207;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-bottom: 0.5px solid;
  // margin-left: auto;
  // margin-right: 100px;
  // width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  // position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  cursor: pointer;
}

.dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f0f5f0;
  color: black;
}
