.launch-item {
  //   display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 529px;
  height: 250px;
  border: solid 0.1px #00274c;
  position: relative;
}

// .launch-item {
//   display: -webkit-inline-box;
// }

.launch-item p {
  margin-right: 42px;
}

.launch-item span {
  color: rgb(172, 172, 172);
  font-size: 10px;
  margin-right: 5px;
}

.launch-item img {
  margin-right: 42px;
  height: auto;
  width: 200px;
  padding: 20px;
}

#mission {
  font-size: 30px;
  margin-bottom: 20px;
}

.success {
  color: #26e173;
}
.fail {
  color: #d94f36;
}
.info {
  color: white;
  padding-left: 20px;
}

.status {
  display: -webkit-inline-box;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  background-color: #0256a5;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border: 0.5px solid white;
  padding: 10px 30px;
}

.launch-item:hover {
  background-color: #011d3850;
  border: solid 0.1px #0256a5;
}

.launch-item:hover .middle {
  opacity: 1;
  color: white;
}
