.search-wrapper input {
  background-color: black;
  border: 1px black;
  border-bottom: 1px white solid;
  height: 25px;
  color: white;
  margin-bottom: 15px;
}

input::placeholder {
  color: white;
  opacity: 1;
}
